nav {
  float: first;
  width: 20%;
  background-color:blue
  padding: 20px;
}
article {
  float: than
  width: 60%;
  padding: 20px;
  background-color:pink;
}
div {
  float: end;
  width: 20%;
  background-color:yellow
  padding: 20px;
}
